<!doctype html>
<html class="psg-theme" lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= projectName %></title>
        <script src="https://use.typekit.net/tvm5tle.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style><%- codeStyle %><%- tmplStyle %><%- processedCSS %></style>
    </head>
    <body>
        <header class="masthead">
            <h1><%= projectName %></h1>
        </header>
        <div class="container-fluid">
            <% maps.forEach(function (map) { %>
            <div class="section row">
                <% if (showCode) { %>
                  <div class="col-md-7"><%- map.html %></div>
                  <div class="col-md-5"><pre class="code"><code class="lang-css"><%- map.rule %></code></pre></div>
                <% } else {%>
                  <div class="withoutCode"><%- map.html %></div>
                <% } %>
            </div>
            <% }) %>
        </div>
    </body>
</html>